{% extends "base.html" %}
{% load tabtags %}

{% block title %}Pool: {{ pool.name }}{% endblock %}

{% block js %}
{% tabs_js 'Method' stock_tables %}
{% endblock %}

{% block header %}
View  pool: <a href="{% url "show_pool" pool_id=pool.id %}">{{ pool.name }}</a> for system <a href="{% url show_system system_id=system.id %}">{{ system.id }}</a>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}


{% start_tabs %}


{% load render_table from django_tables2 %}
{% for stock_table in stock_tables %}
{% render_table stock_table %}
{% next_tab %}
{% endfor %}



<h2>Pool {{pool.id}}: {{pool.name}}</h2>
{{ pool.description }}

<p>Pool date range: {{ pool.startdate }} to {% if pool.enddate %}{{ pool.enddate }}{% else %}today{% endif %}.
<br />Pool index: <a href="{% url "show_stock" stock_id=pool.index.id %}">
{{ pool.index.description }} ({{ pool.index.name }})</a>
(valid from {{ pool.index.startdate }} to {% if pool.enddate %}{{ pool.enddate }}{% else %}today{% endif %})
<br /><a href="{% url "edit_pool" pool_id=pool.id %}">Edit this pool</a>
<br />This pool is used by the following MetaSystems:<ul>
{% for ms in pool.metasystem_set.all %}
<br>li<a href="{% url "show_metasystem" metasystem_id=ms.id %}">{{ ms.id }}: {{ ms.name }}</a>/li
{% endfor %}
</ul>
</p>


{% end_tabs %}

{% endblock %}

