{% extends 'base.html' %}
{% load tabtags %}

{% block title %}Pool: {{ pool.name }}{% endblock %}

{% block js %}
{% if user.is_superuser and pool.members.all %}
    {% tabs_js 'Stock list' 'Properties' 'Manage' %}
{% else %}
    {% tabs_js 'Stock list' 'Properties' %}
{% endif %}
{% endblock %}

{% block header %}
View <a href="{% url 'show_pools' %}">pool</a>: {{ pool.name }}
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}

{% start_tabs %}

<form method="POST">
    {% csrf_token %}

{% load render_table from django_tables2 %}
{% render_table stocks_table %}
<br><input type="submit" name="action" value="Delete">

{% next_tab %}

<h2>Pool {{pool.id}}: {{pool.name}}</h2>

<table>
{{ poolform }}
</table>
<input type="submit" name="save" value="Save pool changes"/>
<hr>
<table>
{{ memberform }}
</table>
<input type="submit" name="save" value="Add stock to pool"/>
<hr>

<br />
{% if pool.metasystem_set.all %}
This pool is used by the following MetaSystems:<ul>
    {% for ms in pool.metasystem_set.all %}
<br>li<a href="{% url 'show_metasystem' metasystem_id=ms.id %}">{{ ms.id }}: {{ ms.name }}</a>/li
    {% endfor %}
</ul>
{% else %}
This pool is not used by any MetaSystems
{% endif %}


{% if user.is_superuser and pool.members.all %}
    {% next_tab %}

<br /><input type="submit" name="action" value="Download latest prices">
The date range for all actions below is {{ daterangeform }}
<table>
<tr><td colspan=2><h2>Manage pool index</h2></td></tr>
<tr><td><input type="submit" name="action" value="Download index">&nbsp;
</td><td>
Download the index of this pool in the above date range. This overwrites all 
existing prices in the database and appends missing prices.
</td></tr>
<tr><td><input type="submit" name="action" value="Calculate index channels">&nbsp;
</td><td>
Calculate the channel data for the index of this pool in the above date range. 
This overwrites all existing channel data in the database and appends missing 
channel data.
</td></tr>
<tr><td colspan=2><h2>Manage stocks in this pool</h2></td></tr>
<tr><td><input type="submit" name="action" value="Download all stock prices">&nbsp;
</td><td>
Download the prices of all stocks in this pool in the above date range. This 
overwrites all existing prices in the database and appends missing prices.
</td></tr>
<tr><td><input type="submit" name="action" value="Check for missing prices">&nbsp;
</td><td>
Check for all stocks in this pool in the above date range if prices are missing.
</td></tr>
<tr><td><input type="submit" name="action" value="Check for stock splits">&nbsp;
</td><td>
Check for all stocks in this pool in the above date range if (reverse) splits
may have occurred.
</td></tr>
<tr><td><input type="submit" name="action" value="Check for missing channels">&nbsp;
</td><td>
Check for all stocks in this pool in the above date range if channel data is
missing.
</td></tr>
<tr><td><input type="submit" name="action" value="Calculate all stock channels">&nbsp;
</td><td>
Calculate channel data for all stocks in this pool in the above date range. 
This overwrites all existing channel data in the database and appends missing 
channel data.
</td></tr>
</table>

    {% if splits %}
        {% load formtags %}
<h3>Stock splits:</h3>
<table>
        {% for stock, split in splits %}
<tr><td>{{ stock.name }}&nbsp;</td><td>
            {% for date, ratio, close, open in split %}
{{ date|date:'Y-m-d' }}: {{ ratio|invert_if_lt1 }} ({{ close }}->{{  open }}),
            {% endfor %}
</td></tr>
        {% endfor %}
</table>
    {% endif %}

    {% if missing_prices %}
<h3>Missing Prices:</h3>
<table>
        {% for stock, dates in missing_prices %}
<tr><td>{{ stock.name }}&nbsp;</td><td>
            {% for date in dates %}
{{ date|date:'Y-m-d' }},
            {% endfor %}
</td></tr>
        {% endfor %}
</table>
    {% endif %}

    {% if missing_channels %}
<h3>Missing Channels:</h3>
<table>
        {% for stock, dates in missing_channels %}
<tr><td>{{ stock.name }}&nbsp;</td><td>
            {% for date in dates %}
{{ date|date:'Y-m-d' }},
            {% endfor %}
</td></tr>
        {% endfor %}
</table>
    {% endif %}

{% endif %}
</form>

{% end_tabs %}

{% endblock %}

